:root{ /* Custom propierties  */

    --color-primario:#03364D;
    --color-secundario:#FFF;

    --color-fuente:#000;
    --color-resaltar:#BF6900;
}

/* Empezamos con el navbar */

.navbar-color{ /* Clase que se aplicara al navbar */
    background-color: var(--color-secundario)!important;
    color:var(--color-fuente)!important;
    font-weight: 500!important;
    opacity: 0.9!important;
}
.text-menu a{
    color:var(--color-fuente)!important;
    transition: .2s ease-in-out 0s;
}

.text-menu a:hover{
    color:var(--color-primario)!important;
}

.btn-signup{ /* Clase que se aplicara al boton de login */
    background-color: var(--color-primario)!important;
    border-color: var(--color-secundario)!important;
    transition: .2s ease-in-out 0s;
    border-radius: .5px;
    padding: 5px 40px;
}

/* efecto de boton login */
.btn-signup:hover{
    /* button expand hover */
    background-color: var(--color-resaltar)!important;
    transform: scale(1.1);
    

}

/* Linea que aparecera en menú responsive en celular */
@media (max-width: 575px){
    .border-mq{
        border-top-style: groove; 
        border-top-width: 1px;
    }
    .btn-signup{
        margin-bottom: 30px;
    }
    
}


.btn-menu{ /* Clase que se aplicara al boton de menu */
    background-color: var(--color-primario)!important;
    border-color: var(--color-secundario)!important;
    transition: .2s ease-in-out 0s;
    border-radius: .5px;
    padding: 5px 40px;
    color:var(--color-secundario)!important;
}


h3{
    color: var(--color-primario)!important;
}


/*.genero input:checked{
    background-color: var(--color-primario)!important;
}*/

  /* Footer */

  .footer-class{
    background-color: var(--color-primario)!important;
    color: var(--color-secundario)!important;
    font-weight: bold;
}