.btn-enviar {
  padding: 10px 40px !important;
  margin-top: 10px !important;

}

.banner-area {
  height:80rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/Assets/img/living2.jpg);
  background-size:cover;
}

.formulario-mq{
  padding-left: 10rem !important;
  padding-right:10rem !important;
}

@media (max-width: 500px) {
  .formulario-mq {
   
    padding:4rem !important;
  }
  .banner-area {
    height:65rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/Assets/img/living2.jpg);
    background-size:cover;
  }
}

.warnings{
  
  color:crimson !important;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px;
}